[package]
name = "bevy_iced"
version = "0.3.0"
edition = "2021"
description = "Iced integration for Bevy"
authors = ["tasgon <me@tas.sh>"]
license = "MIT OR Apache-2.0"
keywords = ["bevy", "iced", "ui", "game", "gui"]
homepage = "https://github.com/tasgon/bevy_iced"
repository = "https://github.com/tasgon/bevy_iced"
documentation = "https://docs.rs/bevy_iced"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
touch = []

[dependencies]
bevy_app = "0.10"
bevy_derive = "0.10"
bevy_ecs = "0.10"
bevy_input = "0.10"
bevy_math = "0.10"
bevy_render = "0.10"
bevy_utils = "0.10"
bevy_window = "0.10"

iced_renderer = { git = "https://github.com/focustense/iced.git", branch = "wgpu-downgrade-0.15.1", features = ["wgpu"] }
iced_runtime = { git = "https://github.com/focustense/iced.git", branch = "wgpu-downgrade-0.15.1" }
iced_style = { git = "https://github.com/focustense/iced.git", branch = "wgpu-downgrade-0.15.1" }
iced_wgpu = { git = "https://github.com/focustense/iced.git", branch = "wgpu-downgrade-0.15.1" }

[dev-dependencies]
bevy = "0.10"
rand = "0.8"
